/* Code mirror overrides */
.editor-container {
  padding: 0.5rem;
  font-size: 14px;
}

.editor-container > :first-child {
  outline: none;
}

.editor-container .cm-gutters {
  background-color: transparent;
  border: none;
}
