/* Code mirror overrides */
.editor-container {
  font-size: 14px;
}

.editor-container .cm-gutters {
  background-color: white;
  border: none;
}

.editor-container .cm-editor {
  outline: none;
  height: 100%;
}

.editor-container .cm-activeLine {
  background-color: #99eeff33 !important;
}
