/* Code mirror overrides */
.editor-container {
  border: 1px solid #d9d9d9;
  padding: 0.5rem;
  font-size: 14px;
}

.editor-container > :first-child {
  outline: none;
}

.editor-container .cm-gutters {
  background-color: transparent;
  border: none;
}
