.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f9f9f9;
}

.nav-bs {
  box-shadow: 0 2px 2px -2px var(--ajui-dark-gray);
}

.link-container {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
}

.navlink-li {
  margin-left: 2rem;
}
