.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.playground-container {
  overflow-x: hidden;
  min-height: 60vh;
}

.toolbar {
  background-color: white;
  /* nav height + 1px */
  top: 67px;
  width: 100%;
  position: sticky;
  z-index: 1000;
}

@media only screen and (max-width: 820px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .playground-container {
    flex-direction: column;
  }
  .editor-container,
  .compiler-output {
    width: 100% !important;
    min-width: 100% !important;
  }
  .editor-container {
    border: 2px dashed var(--aui-default-border);
    border-radius: var(--aui-radius-rounded);
    margin-top: 16px;
  }
  .handle-wrapper {
    display: none;
  }
  .compiler-output {
    box-shadow: none;
    padding: 0 !important;
    margin: 1rem 0;
    overflow: visible !important;
  }
  nav {
    top: unset !important;
    padding: 0.5rem 1rem;
  }
  .toolbar {
    top: 0;
  }
}
