.mobile {
  display: none;
}

.playground-container {
  overflow-x: hidden;
  min-height: 60vh;
}

.toolbar {
  background-color: white;
  top: 65px;
  width: 100%;
  position: sticky;
  z-index: 10000;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .playground-container {
    flex-direction: column;
  }
  .editor-container,
  .compiler-output {
    width: 100% !important;
    min-width: 100% !important;
  }
  .editor-container {
    border: 2px dashed var(--ajui-default-border);
    border-radius: var(--ajui-rounded-radius);
    margin-top: 1rem;
  }
  .handle-wrapper {
    display: none;
  }
  .compiler-output {
    box-shadow: none;
    padding: 0 !important;
    margin: 1rem 0;
    overflow: visible !important;
  }
  .nav {
    top: unset !important;
    padding: 0.5rem 1rem;
  }
  .toolbar {
    top: 0;
  }
}
