@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --breakpoint: 768px;
  --hover-bg: #eee;
}

body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
}

.page-title-text {
  font-size: calc(1.9rem + 0.9vw);
  font-weight: 700;
  margin: 1rem 0;
}

.bordering {
  border: 2px solid red;
}

.fade {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.alt-button {
  background-color: transparent;
  transition: background-color var(--ajui-default-transition);
  opacity: 1;
}

@media (hover: hover) {
  .alt-button:not(:disabled):hover,
  .alt-button:not(:disabled):focus-visible {
    background-color: var(--hover-bg);
    opacity: 1;
  }
}
